html{
    font-family: Arial, sans-serif;
}


.navbar{
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    line-height: 24px;
    vertical-align: middle;
    position: fixed;
    top: 0;
    right: 2.5em;
}
#sign-in-button{
    background-color: #4285f4;
    color: white;
    border-radius: 2px;
    padding: 0 12px;
    margin-left: 2em;
    line-height: 28px;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    text-align: left;
}
    #sign-in-button:hover{
        background-color: #2e6bd4;
    }
#gmail, #images{
    margin-top: 1.5em;
    margin-left: 2em;
    font-weight: initial;
}
#gmail:hover{
    text-decoration: underline;
}
#images:hover{
    text-decoration: underline;
}


#google-logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 92px;
    width: 272px;
    padding-top: 198px;
}
#searchbar-form{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    width: 584px;
    height: 46px;
    padding: 5px 8px 0 16px;
    border: solid #e6e6e6;
    box-shadow: none;
    border-radius: 24px;
    color: rgba(0,0,0,.87);
    font-size: 16px;
}
#searchlogo{
    position: absolute;
    width: 20px;
    height: 20px;
}
#searchbar-form:hover{
    border-bottom: solid rgb(221, 221, 221) ;
}
.searchbar{
    display: block;
}


.btns{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#search-btn{
    float: left;
    margin-right: 5px;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 134px;
    height: 36px;
    padding: 0 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    box-shadow: none;
}
#lucky-btn{
    float: left;
    margin-right: 5px;
    background-color: #f2f2f2;
    border-radius: 4px;
    width: 144px;
    height: 36px;
    padding: 0 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    box-shadow: none;
}
#search-btn:hover{
    border: 1.25px solid rgba(145, 145, 145, 0.5);
}
#lucky-btn:hover{
    border: 1.25px solid rgba(145, 145, 145, 0.5);
}


.footer{
    display: block;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0.35em;
    left: 0;
    right: 0;
    color: #5f6368;
}
#ads{
    float: left;
    font-weight: lighter;
    margin-left: 2.5em;
    font-size: 14px;
}
#business{
    float: left;
    font-weight: lighter;
    margin-left: 2em;
    font-size: 14px;
}
#ads:hover{
    text-decoration: underline;
}
#business:hover{
    text-decoration: underline;
}
#privacy, #terms, #settings{
    float: left;
    margin-left: 2em;
    font-weight: lighter;
    font-size: 14px;
}
#privacy{
    margin-left: 104em;
}
#privacy:hover, #terms:hover{
    text-decoration: underline;
}
#settings:hover{
    text-decoration: underline;
}

